<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header">
              <strong>Snapshot</strong>
            </div>
            <div class="card-block" style="padding:5px">
                <img src="/src/img/snapshot.jpg" width="100%" />
            </div>
          </div>      
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <strong>Settings</strong>
            </div>
            <div class="card-block">
                
            </div>
          </div>      
        </div>
    </div>
</div>