<div class="animated fadeIn" style="height:100%;">
    <div class="row" style="height:100%;">
        <div class="col-md-12" style="height:100%;">
            <div class="card" style="height:500px;">
                <div class="card-header">
                    <strong>Occupancy</strong>
                </div>
                <div class="card-block" style="height:100%;">
                    <iframe src="http://10.202.1.10/occupancy" frameborder="0" style="overflow:hidden;height:500px;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>
            <div class="card" style="height:800px">
                <div class="card-header">
                    <strong>Dashboard</strong>
                </div>
                <div class="card-block" style="height:100%;">
                    <iframe src="http://10.202.1.10:5601/goto/7cae61f35eeb58eb46280e6dee62f6a8?embed=true" frameborder="0" style="overflow:hidden;height:800px;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>      
        </div>
    </div>
</div>
