<div class="animated fadeIn" style="height:100%;">
    <div class="row" style="height:100%;">
        <div class="col-md-12" style="height:100%;">
            <div class="card" style="height:100%;">
                <div class="card-header">
                    <strong>Dashboard</strong>
                </div>
                <div class="card-block" style="height:100%;">
                    <iframe src="http://10.202.1.10:5601/goto/e8733e1d145cc52386f37758cf34f2d5?embed=true" frameborder="0" style="overflow:hidden;height:600px;width:100%" height="100%" width="100%"></iframe>
                </div>
            </div>      
        </div>
    </div>
</div>
